// ---------------------------
// Global variables
// ---------------------------

// Colors
// ---------------------------

// header 
$black: 		#000;
$white: 		#fff;
$first:        #8D929C;
$second:       #444d5b;
$third:        #CFDDED;
$forth:        #f7db88;


// Hover effects
$hoverEffect: 10%;

// Size
$mainContainer: 140rem;

// Indents updated
// --------------------------------------------------
$containerHorIndent: 1rem;
$containerVerIndent: 3rem;

// Indents updated
// --------------------------------------------------
$containerHorIndentMobile: 3%;
$containerVerIndentMobile: 3rem;
