<div class="wrap"  style=" background:url(../../img/{{weatherResult1.weather[0].main}}.jpg) no-repeat center center;background-size: cover;">
    <div class="row">

  
       <div class="col-md-4 text-center section">
          <p class='h2'><b> {{convertToDay(weatherResult1.dt)  | date:"EEE dd/MM/yyyy 'at' h:mma"}}</b></p>
          <p class='h1' id="button">{{city | uppercase}}</p>
            <p class='h1'>{{convertToCelsius(weatherResult1.main.temp)}}<img src= http://openweathermap.org/img/w/{{weatherResult1.weather[0].icon}}.png></p> 
          
          </div>
  
    <div class="col-md-4 center section" >
                     <p class='h2 mb-3 text-center'><strong>City Forecast</strong></p>
                     <form ng-submit="submit()" >
                     <div class="form-group mb-4">
                     <input type="text" ng-model="city" class="form-control mb-2 text-uppercase border" onfocus="this.value=''">
                    <input type="submit" value="Get Forecast" ng-click="reloadRoute()" class="btn"/>
                    <a href="#/forecast" class="btn col-md-offset-2">Hours forecast</a>
                     </div>
                     </form>
                     </div>
     
         
         <div class="col-md-4 hidden-xs hidden-sm text-center  section" > 
            <p class='h2'><b>{{weatherResult1.weather[0].description| uppercase}}</b></p>
            <p><b>Pressure:{{convertTommHg(weatherResult1.main.pressure)}}</b></p>
            <p><b>Wind speed: {{weatherResult1.wind.speed}} m/c</b></p>
            <p><b>Humidity:{{weatherResult1.main.humidity}}%</b></p>

         </div> 

           
            
         <div class="cf"></div>
         

    <div ng-repeat="w in weatherResult.list">
      <div class="wrap">
        <div class="col-md-2">
          <div class="panel panel-default border">

            <div class="panel-heading border_top">
              <h3 class="panel-title  h5">  {{convertToDay(w.dt) | date: "EEE  MMM d, y"}}</h3>
            </div>

            <div class="panel-body border_down">
              <div>Temperature:{{convertToCelsius(w.temp.day)}} / {{convertToCelsius(w.temp.night)}} °C  <img src= http://openweathermap.org/img/w/{{w.weather[0].icon}}.png></div>
            <div>Humidity:{{w.humidity}}%</div><br/>
            <div>Pressure:{{convertTommHg(w.pressure)}}</div><br/>
            <div>Wind speed: {{w.speed}} m/c</div>
            </div>

          </div>
        </div>
      </div>
    </div>
 
    <div class="col-md-2 col-md-offset-10"><a href="#/daily" class="btn">more days</a> </div>
 
   
</div>

</div>









