html {
  font-size: 10px;
}
.hero {
  
  background: url("../../img/bg.jpg") no-repeat center center;
  background-size: cover;/* Styles go here */
  box-sizing: border-box;
}

.mr {
	margin-top: 150px;
	margin-bottom: 150px;
}

.currentW {
	color: white;
	font-size:20px;
}